<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="{{ url_for('static', path='/css_site.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Think and steam.</h1>
    <p>Explorez notre galerie de jeux-vidéos et voyez ce qu'en pensent la majorité des utilisateurs.</p>
    <br>
    <p>Les avis anglophones ont été passés sous GoEmotion.</p>
    <a href="/jvideos">Voir la galerie</a>
</body>
</html>