<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link href="{{ url_for('static', path='/css_site.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Collection.</h1>
    <div class="gallery">
        {% for jvideo in jvideos %}
            <div class="photo">
                <img src="{{ jvideo.lien_image }}" alt="{{ jvideo.nom }}">
                <div class="info">
                    <h3>{{ jvideo.nom }}</h3>
                    <p>Date de sortie: {{ jvideo.date_sortie }}</p>
                    <p>Genre: {{ jvideo.genre }}</p>
                    <p>Emotions: {{ jvideo.emotions }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="popup">
        <span class="close">&times;</span>
        <div id="popup-content">
            <h2 id="popup-title"></h2>
            <p id="popup-date"></p>
            <p id="popup-genre"></p>
            <p id="popup-emotions"></p>
        </div>
    </div>

    <script src="{{ url_for('static', path='/scripts.js') }}"></script>
</body>
</html>
